$black-normal: #070707;
$black-dark: #131313;
$black-light: #181818;

$white-normal: #F2F2F2;
$white-dark: #B6B6B6;
$white-light: #F4F4F4;

$orange-normal: #FF4D00;
$orange-dark: #E24000;
$orange-light: #FF733C;

$gray-1: #777;

.color-gray{
    color: $gray-1;
}